@import '_variables'

// profile section

    // background
._6-xk
    background-color: $background-color !important

    // heading
._6-xo
    color: $highlight-color !important

    // settings icon
#Settings path
    fill: $highlight-color !important

#compose path
    fill: $highlight-color !important

// end profile section

// name section

    // background
._673w
    background-color: $background-color !important

    // name
._3oh-
    color: $highlight-color !important

    // active text
._2v6o
    color: $dim-color !important

    // phone color
#phone path
    fill: $highlight-color !important

    // camcorder color
#camcorder path
    fill: $highlight-color !important

    // 'i' color
#Group path
    fill: $highlight-color !important

// end name section

// boders section

    // main border
._7sli
    border-left-color: $border-color !important

// end borders seciton

// friends section

    // friend background
._5l-3
    background-color: $background-color !important

    // friend name
._7st9
    color: $highlight-color !important
    font-weight: bold

    // search bar background
._1nq2, ._7vup
    background-color: $background-color !important
    border-bottom: 1px solid $border-color

    // search bar input
._58al, ._7tpc
    background-color: $dim-color !important
    color: $background-color !important
    font-weight: bold

    // photo message color
._1htf ._6zke span
    color: $shallow-color !important
    font-weight: 600

._1ht3 ._1htf
    color: $dim-color !important
    font-weight: 800
// ._6zke span
//     color: red !important

    // message color
._58nk
    color: $background-color !important

    // message bubble

// ._52mr, ._52mr._s1-, ._4qoc
//     background-color: red !important


// ._1ht1._6zk9._1ht2
//     background-color: $background-color !important

// end friends section

// main section

    // main background
._4_j4
    background-color: $background-color !important
    border-top: 1px solid $border-color !important

    // reply background
._3egs
    background: transparent !important

    // reply text

._4k7a
    color: $dim-color !important

// end main section

// reply section

._5irm._7mkm
    background-color: $background-color !important

    // reply left icons
._7oal g path
    fill: $highlight-color !important
._7oal
    background-color: $background-color !important

    // reply right icon
._30yy, ._7odb svg g path
    fill: $highlight-color !important

    // emoji icon
._7oal path
    fill: $highlight-color !important

// end reply section

body
    overflow: hidden

::-webkit-scrollbar
    display: none